{
  "openapi": "3.0.1",
  "info": {
    "title": "Lofty Service Open APIs",
    "description": "Lofty service API description",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.lofty.com"
    }
  ],
  "tags": [
    {
      "name": "Tasks & Appointments V2",
      "description": "Unified V2 API for lead tasks and appointments: list, create, read, update, finish, unfinish and delete. Tasks and appointments share the same taskId namespace; each endpoint resolves the target by ID regardless of underlying type."
    },
    {
      "name": "Opportunity",
      "description": "Operations about opportunity"
    },
    {
      "name": "Communication V2",
      "description": "Fetch a single communication record (text / email / call) by its communication ID. Closes the webhook follow-up gap where only list-by-lead endpoints existed for text and email."
    },
    {
      "name": "Vendor",
      "description": "Team vendor directory: team members, sub-accounts and associated agents within the caller's team."
    },
    {
      "name": "Lead Routing",
      "description": "Lead routing configuration: read and update routing rules and default (supplement) rules per business type, and list the members and roles available for assignment."
    },
    {
      "name": "Lead Activity V2 API",
      "description": "Unified lead activity timeline: returns call, text and email activities for a lead in chronological order, including both auto-captured and agent-logged entries."
    },
    {
      "name": "Tasks & Appointments",
      "description": "Agent tasks and lead appointments. Supports listing a lead's appointments, listing / reading / creating / updating / deleting tasks on a lead."
    },
    {
      "name": "Transactions V2",
      "description": "V2 transaction APIs."
    },
    {
      "name": "Lead Manual Log",
      "description": "Agent-recorded log of communications that happened outside the Lofty CRM (calls placed on a personal line, emails sent from another mailbox, SMS sent from another device). Three channels are supported: logCall, logEmail, logText. Direction fields are recorded from the agent's point of view: 'outbound' = agent -> lead, 'inbound' = lead -> agent. Persistence is asynchronous: a POST returns the new entry's ID once the write is enqueued, and the entry becomes readable after a short delay."
    },
    {
      "name": "Calls",
      "description": "Calls placed or received through the Lofty dialer. Supports fetching a recording URL, retrieving a single call record, and listing calls attached to a lead."
    },
    {
      "name": "Agents V2",
      "description": "Agent lifecycle management: deactivate an agent of the caller's team (frees the license seat, revokes sessions and tokens, keeps leads and data untouched) and reactivate a previously deactivated agent (re-occupies a seat and restores access without data loss). Deactivation is reversible and distinct from deletion."
    },
    {
      "name": "Listing V2",
      "description": "Listing search V2"
    },
    {
      "name": "Agent User",
      "description": "Agent onboarding and team directory operations. Create a new agent under the caller's team and attach tags to existing agents."
    },
    {
      "name": "Sales Agents V2",
      "description": "Sales Agent (AI Assistant) management: read the caller's assistant and quota, query leads followed by AI, mute leads, manage working-pool membership and plan tasks, and update Sales Agent settings."
    },
    {
      "name": "Calendar V2 API",
      "description": "Unified V2 API for tasks and appointments on a lead: create, update, delete, finish, unfinish, query a paginated list, and find available meeting slots. Calendar IDs returned by POST /v2.0/calendar are composite strings of the form '`<numericId>`-task' or '`<numericId>`-appointment' and must be sent back as-is to the per-entry endpoints."
    },
    {
      "name": "Lead System Logs",
      "description": "Query a lead's system log."
    },
    {
      "name": "Lead Transaction",
      "description": "Operations about leads"
    },
    {
      "name": "Notifications V2",
      "description": "Operations for sending notifications to agents"
    },
    {
      "name": "Notes",
      "description": "Free-text notes attached to a lead. Supports create, list, get-by-id, update and delete. Notes may be pinned to surface them at the top of the lead's timeline. System-generated notes (automated activity) are included on the list endpoint only when explicitly requested."
    },
    {
      "name": "Listing",
      "description": "Listing data access: retrieve published listings for a site feed (XML), and search active / sold listings by agent, office or MLS id."
    },
    {
      "name": "Intelligent Features",
      "description": "AI-powered features for lead analysis and communication"
    },
    {
      "name": "Leads",
      "description": "Lead lifecycle operations: create / read / update / delete a lead, search leads by stage, source, tag, create time or update time, place an inquiry or property on a lead, list lead activities, resolve assignee by lead info, and handle Brokermint contact callbacks."
    },
    {
      "name": "Members",
      "description": "Team member directory: look up members by user ID, by account (email), or list all members of the caller's team. Also supports retrieving the current user's profile."
    },
    {
      "name": "Team Features",
      "description": "Team-scoped metadata: lead tags, custom fields, and lead ponds. Supports listing existing entries, adding a new custom field, and retrieving a specific lead pond."
    },
    {
      "name": "Agent Organization",
      "description": "Team organizational structure: read the caller's organization info, manage company and office records, and list permission profiles available to the team."
    },
    {
      "name": "Communication",
      "description": "Lead communication history and outbound messaging: list call / email / text history for a lead, search communications for an agent, and send SMS or email to a lead."
    },
    {
      "name": "Webhooks",
      "description": "Use webhooks to be notified about events that happen in a lofty account.\n\nSupported webhook event types (listId):\n\n| listId | Event Type | Description |\n|--------|-----------|-------------|\n| 1 | Agent Info | Agent created or updated |\n| 2 | Lead Info | Lead created, updated, or deleted |\n| 3 | Lead Activity | Lead site activity (e.g. SiteBrowse, SiteFavorite, SiteSearch) |\n| 4 | Listing Alert | Listing alert changed |\n| 5 | Transaction | Transaction created, updated, or deleted |\n| 6 | Call | Call event (MANUAL and LOGGED only, excludes AUTO) |\n| 7 | Email | Email event (MANUAL and LOGGED only, excludes AUTO) |\n| 8 | Text | Text message event (MANUAL and LOGGED only, excludes AUTO) |\n| 9 | Note | Note created, updated, or deleted |\n| 10 | Task | Task created, updated, finished, or deleted |\n| 11 | Appointment | Appointment created, updated, finished, or deleted |\n| 12 | Pipeline Change | Lead pipeline stage changed |\n\n### Notification Recipient Rules\n\nHere \"team\" means the entire Lofty client account (the organization), not the Lofty \"Team add-on\" product.\n\nWhich subscribed users receive a callback depends on the subscription's delivery mode (`permissionMode`). In both modes, only users in the lead's account (team) who have subscribed to the event type are considered.\n\n**Assignment-based delivery — `permissionMode: 0` (default)**\n\nA subscriber receives the callback only for leads assigned to them or that they administer:\n- If the lead is a **hidden lead**, only the **assigned agent** receives the notification.\n- Otherwise, the subscriber receives it if they are the **assigned agent** of the lead, or a **Company Owner** or **Company Admin**.\n- All other subscribers do **not** receive the notification.\n\n**Ownership-based delivery — `permissionMode: 1`**\n\nA subscriber receives the callback for any lead they manage, regardless of who it is assigned to:\n- Every assignment-based case above still applies (assigned agent, Company Owner / Company Admin).\n- In addition, the subscriber receives the callback for any lead within their **ownership scope** — a lead owned by their **team** or **office**, or **personally owned** by them — even if it is assigned to someone else.\n- Hidden leads are still delivered only to users who manage them.\n\nOwnership-based mode is intended for team/account-level integrations that must cover every lead in their scope, not only assigned leads. Set `permissionMode` when creating the subscription (POST /v1.0/webhook); it defaults to `0`, so existing subscriptions are unaffected.\n\n### Delivery Timing\n\nWebhooks are typically delivered within **1 minute** of the event being triggered. During periods of high traffic, delivery may be delayed, but will always be sent within **5 minutes**.\n\nFor detailed callback payload structures, see [Webhook Event Payloads](/concepts/webhooks#event-payloads).\n"
    }
  ],
  "paths": {
    "/v2.0/tasks/{taskId}": {
      "get": {
        "tags": [
          "Tasks & Appointments V2"
        ],
        "summary": "Get Task",
        "description": "Returns a single task or appointment by ID. Tasks and appointments share the same taskId namespace; the endpoint resolves the target automatically.\n\nCaller must have manage permission on the task's lead.",
        "operationId": "getTaskById",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "ID of the task or appointment to retrieve.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 563172647619608
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task or appointment retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskV2SingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Caller has no access to the owning lead (20017 PERMISSION_DENIED).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Task or appointment does not exist (TASK_NOT_EXIST).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Tasks & Appointments V2"
        ],
        "summary": "Update Task",
        "description": "Partially updates a task or appointment. Only non-null fields in the request body are applied.\n\nNotes:\n- To mark an entry as completed or not, use the finish / unfinish endpoints instead.\n- At least one of content, startAt, endAt, address must be supplied; an entirely empty payload returns 400 MISSING_PARAMETER.\n- Caller must have manage permission on the entry's lead.",
        "operationId": "updateTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "ID of the task or appointment to update.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 563172647619608
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Task updated. Response body is a simple message envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameter (20012 INVALID_PARAMETER / MISSING_PARAMETER).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Task or appointment does not exist (TASK_NOT_EXIST) or caller has no access to the lead (20006 LEAD_NOT_EXIST).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks & Appointments V2"
        ],
        "summary": "Delete Task",
        "description": "Deletes a task or appointment by ID. Caller must have manage permission on the entry's lead.",
        "operationId": "deleteTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "ID of the task or appointment to delete.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 563172647619608
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Entry deleted. Response body is a simple message envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Task or appointment does not exist (TASK_NOT_EXIST).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/sales-agents/working-lead/{leadId}/mute": {
      "put": {
        "tags": [
          "Sales Agents V2"
        ],
        "summary": "Mute a working lead",
        "description": "Mutes the AI assistant for the specified lead to stop further automated follow-ups. Verifies success by checking mute status after operation.",
        "operationId": "muteLead",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "Lead ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 563172647619608
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Mute operation completed. The response's 'success' field reports the outcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid lead ID parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have access to this lead.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/sales-agent/settings": {
      "get": {
        "tags": [
          "Sales Agents V2"
        ],
        "summary": "Query Sales Agent settings",
        "description": "Returns the Sales Agent settings configured for the current caller.",
        "operationId": "querySalesAssistantSettings",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Settings retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesAgentSettingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Sales Agent not found for the current user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Sales Agents V2"
        ],
        "summary": "Update Sales Agent settings",
        "description": "Update the Sales Agent settings for the current user. Sales Agent creation must be completed in CRM. This API only supports updating existing settings.",
        "operationId": "saveSalesAssistantSettings",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesAgentSettingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Settings updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/calendar/{calendarId}": {
      "put": {
        "tags": [
          "Calendar V2 API"
        ],
        "summary": "Update Calendar Event",
        "description": "Partially updates a Task or Appointment. Only non-empty fields in the request body are applied; omitted fields keep their current values.\n\nNotes:\n- calendarId must be the composite string returned by POST /v2.0/calendar (e.g. '12345-task' or '12345-appointment'). Invalid format returns 400.\n- When startAt or endAt is supplied, it must be later than the current server time.",
        "operationId": "updateCalendar",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Composite calendar ID returned by POST /v2.0/calendar, of the form '`<numericId>`-task' or '`<numericId>`-appointment'.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345-task"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Calendar updated. Response body is a simple message envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarMessageResponseEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid calendarId format, target not found, or invalid parameters (20012 INVALID_PARAMETER); caller is not the manager (20017 PERMISSION_DENIED).",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Calendar V2 API"
        ],
        "summary": "Delete Calendar Event",
        "description": "Deletes a Task or Appointment by its composite ID. The response body is a simple message envelope.",
        "operationId": "deleteCalendar",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Composite calendar ID of the form '`<numericId>`-task' or '`<numericId>`-appointment'.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345-task"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarMessageResponseEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid calendarId format or target not found (20012 INVALID_PARAMETER); caller is not the manager (20017 PERMISSION_DENIED).",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/tasks/{taskId}": {
      "get": {
        "tags": [
          "Tasks & Appointments"
        ],
        "summary": "Get Task (V1)",
        "description": "Returns a single task by ID, along with the lead's pipeline context. Caller must have manage permission on the lead that owns the task.",
        "operationId": "getTaskById_1",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "ID of the task to retrieve.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 563172647619608
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSingleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Caller has no access to the lead that owns the task (20017 PERMISSION_DENIED).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Task does not exist or has been deleted (TASK_NOT_EXIST).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Tasks & Appointments"
        ],
        "summary": "Update Task (V1)",
        "description": "Partially updates an existing task. Fields not supplied are left unchanged.\n\nNotes:\n- When finishFlag is true, the task is marked completed and all other fields are ignored. Completion is rejected for smart-plan tasks (TASK_IS_SMARTPLAN).\n- When leadId is supplied, it must match the task's existing lead; otherwise 400 INVALID_UPDATE_OPERATION_LEADID.\n- At least one field must be supplied; an entirely empty payload returns 400 MISSING_PARAMETER.\n- Caller must have manage permission on the task's lead.\n- The response body is empty.",
        "operationId": "updateTask_1",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "ID of the task to update.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 563172647619608
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Task updated successfully. No response body."
          },
          "400": {
            "description": "Missing or invalid parameter (20012 INVALID_PARAMETER / MISSING_PARAMETER), finish attempted on a smart-plan task (TASK_IS_SMARTPLAN), or leadId does not match the task's lead (INVALID_UPDATE_OPERATION_LEADID)."
          },
          "401": {
            "description": "Missing or invalid authentication token."
          },
          "404": {
            "description": "Task does not exist (TASK_NOT_EXIST) or caller lacks access to the lead (20006 LEAD_NOT_EXIST)."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks & Appointments"
        ],
        "summary": "Delete Task (V1)",
        "description": "Deletes a task by ID. Caller must have manage permission on the task's lead. The response body is empty.",
        "operationId": "deleteTask_1",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "ID of the task to delete.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 563172647619608
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Task deleted successfully. No response body."
          },
          "401": {
            "description": "Missing or invalid authentication token."
          },
          "404": {
            "description": "Task does not exist (TASK_NOT_EXIST) or caller lacks access to the lead (20006 LEAD_NOT_EXIST)."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1.0/routing/rule/{type}": {
      "put": {
        "tags": [
          "Lead Routing"
        ],
        "summary": "Update a routing rule",
        "description": "Updates a routing rule identified by its ID. Validates activeHours and routingStrategy:\n\n- activeDays: list of 1-7; deduplicated and sorted server-side.\n- hoursStart / hoursEnd: each in [0, 23].\n- routingStrategy.strategyType must match the business type. LEAD_POND is only allowed for AGENT_LEAD; NEXT_UP and BLAST_ALERT are not allowed for ASSISTANT_LEAD.\n- memberWeights must reference valid members in the team.\n- touchMinutes must be in (0, 1440]; when > 60, must be an integer multiple of 60.\n\nCaller must have MANAGE_LEAD_DISTRIBUTION or MANAGE_LEAD_DISTRIBUTION_DEPARTMENT permission.",
        "operationId": "editRule",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Routing business type.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "enum": [
                "1",
                "2",
                "4"
              ]
            },
            "example": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoutingRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Rule updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "ok"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or permission denied. Business codes include PERMISSION_DENIED (20017), INVAID_ID, BUSINESS_TYPE_ERROR, STRATEGY_TYPE_ERROR, STRATEGY_TYPE_NOT_MATCH, INVAID_ACTIVE_DAY, INVAID_ACTIVE_HOURS, INVAID_MEMBER_WEIGHT, INVAID_GROUP_ID, INVAID_TOUCHMINUTES.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/routing/rule/supplement/{type}": {
      "get": {
        "tags": [
          "Lead Routing"
        ],
        "summary": "Get default (supplement) routing rule",
        "description": "Returns the default / fallback routing rule configured on the caller's team for the given business type. Caller must have MANAGE_LEAD_DISTRIBUTION or MANAGE_LEAD_DISTRIBUTION_DEPARTMENT permission.",
        "operationId": "getSupplementRule",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Routing business type.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "enum": [
                "1",
                "2",
                "4"
              ]
            },
            "example": 1
          },
          {
            "name": "roleId",
            "in": "query",
            "description": "Role ID. Required when type = 4 (ASSISTANT_LEAD).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": -1
            },
            "example": 101
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default routing rule for the given business type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplementRoutingRule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid type or roleId, or permission denied. Business codes include PERMISSION_DENIED (20017), BUSINESS_TYPE_ERROR, INVAID_ROLE_ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Lead Routing"
        ],
        "summary": "Update default (supplement) routing rule",
        "description": "Updates the default / fallback routing rule for the given business type.\n\nNotes:\n- BLAST_ALERT and Next_Up strategies are not allowed for ASSISTANT_LEAD.\n- When strategyType = DEFAULT_ASSIGNEE and type = AGENT_LEAD, exactly one of assigneeAgentId or assigneeGroupId must be supplied.\n- For non-DEFAULT_ASSIGNEE strategies, touchMinutes must be in (0, 1440] and, when > 60, an integer multiple of 60.\n\nCaller must have MANAGE_LEAD_DISTRIBUTION or MANAGE_LEAD_DISTRIBUTION_DEPARTMENT permission.",
        "operationId": "editSupplementRule",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Routing business type.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "enum": [
                "1",
                "2",
                "4"
              ]
            },
            "example": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplementRoutingRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Rule updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "ok"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or permission denied. Business codes include PERMISSION_DENIED (20017), STRATEGY_TYPE_ERROR, STRATEGY_TYPE_NOT_MATCH, INVAID_ID, INVAID_ROLE_ID, INVAID_TOUCHMINUTES.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/org/office": {
      "put": {
        "tags": [
          "Agent Organization"
        ],
        "summary": "Add Office",
        "description": "Creates a new office (organizational sub-unit) under the caller's team. Caller must have permission to manage team organization.",
        "operationId": "addOffice",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfficeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Envelope with business code and message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationOpResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter or permission denied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Agent Organization"
        ],
        "summary": "Update Office",
        "description": "Updates an existing office under the caller's team. Caller must have permission to manage team organization.",
        "operationId": "updateOffice",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfficeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Envelope with business code and message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationOpResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter or permission denied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Office does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/notes/{noteId}": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "Get a note by ID",
        "description": "Returns a single note by its ID. The note must belong to a lead visible to the caller.",
        "operationId": "getNoteByNoteId",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "ID of the note to retrieve.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 400000012345
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Note retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteSingleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Note does not exist or is not accessible (20007 RESOURCE_NOT_EXIST).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Notes"
        ],
        "summary": "Update Note",
        "description": "Updates the content and pin state of an existing note.\n\nNotes:\n- content must not be blank; isPin must not be null.\n- content is silently truncated to 2000 characters.\n- If leadId is supplied in the body, it must match the note's lead; otherwise 400 INVALID_UPDATE_OPERATION_LEADID.\n- Caller must have access to the lead; otherwise 404 LEAD_NOT_EXIST.\n- The response body is empty.",
        "operationId": "update",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "ID of the note to update.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 400000012345
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Note updated successfully. No response body."
          },
          "400": {
            "description": "Missing or invalid parameter (20012 INVALID_PARAMETER), or the supplied leadId does not match the note's lead (INVALID_UPDATE_OPERATION_LEADID)."
          },
          "401": {
            "description": "Missing or invalid authentication token."
          },
          "404": {
            "description": "Note does not exist (20007 RESOURCE_NOT_EXIST) or lead is not accessible (20006 LEAD_NOT_EXIST)."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      },
      "delete": {
        "tags": [
          "Notes"
        ],
        "summary": "Delete Note",
        "description": "Deletes a note by ID. Caller must have manage permission on the lead that owns the note. The response body is empty.",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "ID of the note to delete.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 400000012345
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Note deleted successfully. No response body."
          },
          "401": {
            "description": "Missing or invalid authentication token."
          },
          "404": {
            "description": "Note does not exist (20007 RESOURCE_NOT_EXIST) or lead is not accessible (20006 LEAD_NOT_EXIST)."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1.0/leads/{leadId}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get Lead",
        "description": "Returns a single lead by ID. The response is wrapped under the 'lead' key.\n\nNotes:\n- By default, trashed leads are not returned. Pass withTrash=true to include them.\n- Caller must have access to the lead; otherwise 404 LEAD_NOT_EXIST.",
        "operationId": "get",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "ID of the lead to retrieve.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 100001
          },
          {
            "name": "withTrash",
            "in": "query",
            "description": "When true, include trashed leads in the lookup.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Lead does not exist or is not accessible (20006 LEAD_NOT_EXIST).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Update Lead",
        "description": "Updates an existing lead. Caller must have manage permission on the lead.\n\n## Property block\n\nIf the request body carries a `property` block, it is persisted alongside the lead update with the same semantics as `POST /v1.0/leads/{leadId}/property`:\n\n- **`property.id` omitted or `<= 0`** — merge with an existing property by address; if no match, create a new property record. (Prior versions of this endpoint rejected this case with `UPDATE_LEAD_PROPERTY_FAILED`; that restriction has been lifted.)\n- **`property.id > 0`** — update the named property in place. The property must belong to this lead (its `leadUserId` must match); otherwise the request is rejected with 200108 LEAD_PROPERTY_NOT_EXIST.\n\nValidation:\n- When a `property` block is supplied, at least one of `city`, `state`, `zipCode`, `streetAddress` must be non-blank; otherwise 200057 PROPERTY_ADDRESS_EMPTY is returned (the lead update is also aborted).",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "ID of the lead to update.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 100001
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditLeadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Lead updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadIdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (20012 INVALID_PARAMETER); `property` block supplied with every address field blank (200057 PROPERTY_ADDRESS_EMPTY).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Lead does not exist or is not accessible (20006 LEAD_NOT_EXIST); supplied `property.id` does not belong to this lead (200108 LEAD_PROPERTY_NOT_EXIST).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Delete Lead",
        "description": "Moves a lead to the trash. A reason is required and is stored for audit. The response body is empty.",
        "operationId": "trash",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "ID of the lead to trash.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 100001
          },
          {
            "name": "reason",
            "in": "query",
            "description": "Free-text reason recorded with the trash operation.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Duplicate contact"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Lead trashed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "deleted": true,
                    "leadId": "651095960136641"
                  }
                }
              }
            }
          },
          "400": {
            "description": "reason missing (20012 INVALID_PARAMETER)."
          },
          "401": {
            "description": "Missing or invalid authentication token."
          },
          "404": {
            "description": "Lead does not exist or is not accessible (20006 LEAD_NOT_EXIST)."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1.0/leads/{leadId}/transaction/{transactionId}": {
      "get": {
        "tags": [
          "Lead Transaction"
        ],
        "summary": "Get Transaction",
        "description": "Fetches a single transaction that belongs to the given lead.\n\nPrerequisites:\n- leadId must be manageable by the caller; otherwise 404 LEAD_NOT_EXIST.\n- transactionId must exist, not be deleted, AND belong to leadId; otherwise 404 TRANSACTION_NOT_EXIST. For security, cross-lead transactionIds are treated as 'not exist' rather than 'forbidden'.",
        "operationId": "getTransactionsByTransactionId",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "Lead ID. Must be manageable by the caller.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 100001
          },
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction ID. Must exist and be bound to leadId.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 10001
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadTransaction"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Lead not manageable (20006 LEAD_NOT_EXIST), or transaction not found / not bound to leadId (200060 TRANSACTION_NOT_EXIST).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Lead Transaction"
        ],
        "summary": "Update Transaction",
        "description": "Partially updates an existing transaction. Only supplied fields are applied; omitted fields remain unchanged. `transactionStatus` is writable: supply the stage's display name exactly as it appears in the team's transaction pipeline for the given `transactionType` (case-insensitive, e.g. \"Under Contract\"). A status name that matches no stage in that pipeline is rejected (200125); omit the field to keep the current status.",
        "operationId": "updateTransaction",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "Lead ID. Must be manageable by the caller.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 100001
          },
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction ID. Must exist and be bound to leadId.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 10001
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadTransaction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction updated. The response is the merged transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadTransaction"
                }
              }
            }
          },
          "400": {
            "description": "Commission validation failure (20012 INVALID_PARAMETER, with the raw validation message in the body), or transactionStatus does not match any stage in the transaction pipeline for the given transactionType (200125 TRANSACTION_STATUS_INVALID).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Lead not manageable (20006 LEAD_NOT_EXIST) or transaction not found / not bound to leadId (200060 TRANSACTION_NOT_EXIST).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/brokermint/transaction": {
      "put": {
        "tags": [
          "Lead Transaction"
        ],
        "summary": "Brokermint — Sync Transaction",
        "description": "Callback endpoint for Brokermint integration to sync transaction updates into Lofty.\n\nThe transaction must be linked to Brokermint via the Lofty UI before this endpoint can update it. See the request body schema for supported fields.",
        "operationId": "updateTransactionFromBrokermint",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncomingTransaction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Envelope {code, message}. code=0 indicates applied; code=200060 indicates the transaction was not found (either the Brokermint link is missing or the transaction was deleted). HTTP status is 200 in both cases.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionCallbackResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/brokermint/lead": {
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Brokermint — Sync Lead",
        "description": "Callback endpoint for Brokermint to push contact updates into Lofty. Not intended for general external callers.\n\nThe target contact must have been previously linked to a Brokermint record through the Lofty UI's Brokermint Integration. Without this link the response body contains a non-zero code despite HTTP 200.",
        "operationId": "updateContacts",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contacts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Brokermint contact synced.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/working-leads/add": {
      "post": {
        "tags": [
          "Sales Agents V2"
        ],
        "summary": "Batch add leads to Sales Agent working pool",
        "description": "Adds multiple leads to the AI Sales Agent working pool. Optionally creates plan tasks for each successfully added lead. Returns succeeded and failed lead IDs. Max 100 leads per request.",
        "operationId": "batchAddWorkingLeads",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddWorkingLeadRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Batch operation completed (may include partial failures)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (e.g., empty leadIds, more than 100 leads).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/tasks": {
      "get": {
        "tags": [
          "Tasks & Appointments V2"
        ],
        "summary": "List Tasks",
        "description": "Returns all tasks and appointments attached to the given lead. Caller must have manage permission on the lead.",
        "operationId": "listTask",
        "parameters": [
          {
            "name": "leadId",
            "in": "query",
            "description": "ID of the lead whose tasks and appointments to return.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 100001
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tasks and appointments for the lead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskV2ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Caller has no access to the lead (20017 PERMISSION_DENIED).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Lead does not exist (20006 LEAD_NOT_EXIST).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tasks & Appointments V2"
        ],
        "summary": "Create Task",
        "description": "Creates a new task or appointment on the target lead. Whether an appointment or a regular task is created depends on the payload's type field.\n\nNotes:\n- content, assignedRole, leadId and endAt are required.\n- Caller must have manage permission on the lead.\n- The response contains only the new entry's ID under the 'taskId' key.",
        "operationId": "addTask",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Task or appointment created. Response contains the new entry's ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskV2IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameter (20012 INVALID_PARAMETER), or caller has no access to the lead (20017 PERMISSION_DENIED).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/tasks/{taskId}/unfinish": {
      "post": {
        "tags": [
          "Tasks & Appointments V2"
        ],
        "summary": "Unfinish Task",
        "description": "Reverts a task or appointment back to the not-completed state. Caller must have manage permission on the entry's lead.",
        "operationId": "unfinishTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "ID of the task or appointment to revert to not-completed.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 563172647619608
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Entry marked as not completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Task or appointment does not exist (TASK_NOT_EXIST).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/tasks/{taskId}/finish": {
      "post": {
        "tags": [
          "Tasks & Appointments V2"
        ],
        "summary": "Finish Task",
        "description": "Marks a task or appointment as completed. Caller must have manage permission on the entry's lead. Smart-plan tasks cannot be finished through this endpoint (TASK_IS_SMARTPLAN).",
        "operationId": "finishTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "ID of the task or appointment to finish.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 563172647619608
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Entry marked as completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Finish attempted on a smart-plan task (TASK_IS_SMARTPLAN).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Task or appointment does not exist (TASK_NOT_EXIST) or caller has no access to the lead (20006 LEAD_NOT_EXIST).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/sales-agent/notification/app-push/send-task-reminder": {
      "post": {
        "tags": [
          "Notifications V2"
        ],
        "summary": "Send Task Reminder Push",
        "description": "Sends an in-app push notification to the agent assigned to the given task or appointment.",
        "operationId": "sendAppPushTaskReminder",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTaskReminderPushRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Push sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (e.g., task not found)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/sales-agent/message/sms/send-to-agent": {
      "post": {
        "tags": [
          "Notifications V2"
        ],
        "summary": "Send SMS to Agent",
        "description": "Sends a system SMS message to the current logged-in user's phone number.",
        "operationId": "sendSystemSmsToAgent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsToAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (e.g., blank content)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/sales-agent/message/email/send-to-agent": {
      "post": {
        "tags": [
          "Notifications V2"
        ],
        "summary": "Send Email to Agent",
        "description": "Sends a system email to the current logged-in user's email address.",
        "operationId": "sendSystemEmailToAgent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailToAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (e.g., blank subject or content)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/sales-agent/ai-number/send-sms-to-agent": {
      "post": {
        "tags": [
          "Sales Agents V2"
        ],
        "summary": "Send SMS to agent via AI number",
        "description": "Sends an SMS message to the current logged-in agent using the Sales Agent's AI virtual number as the sender.",
        "operationId": "sendSmsViaAiNumber",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsToAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (blank content or no AI virtual number configured).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/plan-tasks/create": {
      "post": {
        "tags": [
          "Sales Agents V2"
        ],
        "summary": "Batch create plan tasks for leads",
        "description": "Creates AI plan tasks for multiple leads. Each lead must already be in the Sales Agent working pool. Returns succeeded and failed lead IDs. Max 100 leads per request.",
        "operationId": "batchCreatePlanTasks",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreatePlanTaskRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Batch operation completed (may include partial failures)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (e.g., empty leadIds, more than 100 leads).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/listings/search": {
      "post": {
        "tags": [
          "Listing V2"
        ],
        "summary": "Search Listings",
        "description": "Search listings by location keywords and optional filters (price, bedrooms, bathrooms, sqft, property type, listing status, purchase type).",
        "operationId": "searchListings",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListingQueryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
[...]
